<!DOCTYPE html>
<body>
    <h2 login form></h2>
    <form method="POST" action="{{ url_for('login')}}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <label for="password">password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">login</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for messages in messages %}
        <li>{{messages}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    
</body>